In [1]:
import camelot
import pandas as pd
tables = camelot.read_pdf('../dataset/suicide modes/2011 modes.pdf', flavor="stream", pages="all")

In [2]:
"""def process_pdf(table_name):
    tables = camelot.read_pdf(table_name, flavor="stream", pages="all")
    df = tables[0].df"""

'def process_pdf(table_name):\n    tables = camelot.read_pdf(table_name, flavor="stream", pages="all")\n    df = tables[0].df'

In [3]:
"""years = ["2011", "2012", "2013"]
df_list = []
for year in years:
    table_path = f"{year}/modes.pdf"
    df = process_pdf(table_path)
    df_list.append(df)"""

'years = ["2011", "2012", "2013"]\ndf_list = []\nfor year in years:\n    table_path = f"{year}/modes.pdf"\n    df = process_pdf(table_path)\n    df_list.append(df)'

In [4]:
tables[0].df.head()
df = tables[0].df

In [5]:
tables

In [6]:
df.head(15)

,0,1,2,3,4,5,6,7,8
0,,Distribution of Suicides by Means Adopted – 2011,,,,,,,
1,,,,"(State, UT & City–wise)",,,,,
2,Sl.,,Over Alcoholism,,,,Drowning,,
3,State/UT,,,,,,,,
4,No.,Male,Female,Total,%share,Male,Female,Total,%share
5,(1) \n(2),(3),(4),(5),(6),(7),(8),(9),(10)
6,STATES:,,,,,,,,
7,1 \nANDHRA PRADESH,129,4,133,0.9,594,378,972,6.4
8,2 \nARUNACHAL PRADESH,3,0,3,2.2,8,2,10,7.5
9,3 \nASSAM,7,1,8,0.3,148,59,207,7.6
10,4 \nBIHAR,17,1,18,2.3,56,32,88,11.1
11,5 \nCHHATTISGARH,95,21,116,1.7,109,53,162,2.4
12,6 \nGOA,0,0,0,0.0,24,9,33,11.3
13,7 \nGUJARAT,3,0,3,0.0,274,164,438,6.9
14,8 \nHARYANA,35,0,35,1.1,180,41,221,6.8

In [7]:
df0, df1, df2, df3, df4, df5, df6, df7, df8 = (tables[0].df, tables[2].df, tables[5].df, 
                                tables[7].df, tables[9].df, tables[11].df, 
                                tables[13].df, tables[15].df, tables[17].df)

In [8]:
df0

,0,1,2,3,4,5,6,7,8
0,,Distribution of Suicides by Means Adopted – 2011,,,,,,,
1,,,,"(State, UT & City–wise)",,,,,
2,Sl.,,Over Alcoholism,,,,Drowning,,
3,State/UT,,,,,,,,
4,No.,Male,Female,Total,%share,Male,Female,Total,%share
5,(1) \n(2),(3),(4),(5),(6),(7),(8),(9),(10)
6,STATES:,,,,,,,,
7,1 \nANDHRA PRADESH,129,4,133,0.9,594,378,972,6.4
8,2 \nARUNACHAL PRADESH,3,0,3,2.2,8,2,10,7.5
9,3 \nASSAM,7,1,8,0.3,148,59,207,7.6
10,4 \nBIHAR,17,1,18,2.3,56,32,88,11.1
11,5 \nCHHATTISGARH,95,21,116,1.7,109,53,162,2.4
12,6 \nGOA,0,0,0,0.0,24,9,33,11.3
13,7 \nGUJARAT,3,0,3,0.0,274,164,438,6.9
14,8 \nHARYANA,35,0,35,1.1,180,41,221,6.8
15,9 \nHIMACHAL PRADESH,5,0,5,1.1,5,1,6,1.4
16,10 \nJAMMU & KASHMIR,8,0,8,2.8,3,2,5,1.7
17,11 \nJHARKHAND,20,2,22,1.8,97,32,129,10.6
18,12 KARNATAKA,193,9,202,1.6,632,368,1000,7.9
19,13 KERALA,38,0,38,0.5,297,233,530,6.3
20,14 MADHYA PRADESH,120,10,130,1.4,271,272,543,5.9
21,15 MAHARASHTRA,133,1,134,0.8,833,649,1482,9.3
22,16 MANIPUR,0,0,0,0.0,0,0,0,0.0
23,17 MEGHALAYA,0,0,0,0.0,12,0,12,7.8
24,18 MIZORAM,0,0,0,0.0,0,0,0,0.0
25,19 NAGALAND,0,0,0,0.0,0,0,0,0.0
26,20 ODISHA,17,5,22,0.4,109,43,152,2.9
27,21 PUNJAB,7,0,7,0.7,10,3,13,1.3
28,22 RAJASTHAN,52,2,54,1.2,206,127,333,7.7
29,23 SIKKIM,4,0,4,2.2,18,6,24,13.0
30,24 TAMIL NADU,247,3,250,1.6,661,276,937,5.9
31,25 TRIPURA,2,0,2,0.3,9,2,11,1.6
32,26 UTTAR PRADESH,84,5,89,1.8,180,81,261,5.4
33,27 UTTARAKHAND,5,0,5,1.6,24,11,35,11.0
34,28 WEST BENGAL,81,1,82,0.5,222,205,427,2.6
35,TOTAL (STATES),1305,65,1370,1.0,4982,3049,8031,6.0
36,UNION TERRITORIES:,,,,,,,,
37,29 A & N ISLANDS,0,0,0,0.0,1,0,1,0.7
38,30 CHANDIGARH,0,0,0,0.0,4,2,6,5.7
39,31 D & N HAVELI,0,0,0,0.0,0,0,0,0.0
40,32 DAMAN & DIU,0,0,0,0.0,0,1,1,3.0
41,33 DELHI (UT),19,0,19,1.1,16,0,16,0.9
42,34 \nLAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
43,35 PUDUCHERRY,0,0,0,0.0,4,1,5,0.9
44,TOTAL (UTs),19,0,19,0.7,25,4,29,1.1
45,TOTAL (ALL INDIA),1324,65,1389,1.0,5007,3053,8060,5.9

In [9]:
# Dropping first few columns
df0.drop([0,1,2,3,4,5,6,36], inplace=True)


columns = ["State/UT", "Over_Alcoholism_Male", "Over_Alcoholism_Female", "Over_Alcoholism_Total", "Over_Alcoholism_Percent_share",
            "By Drowning - Male", "By Drowning - Female", "By Drowning - Total", "By Drowning - Percent Share"]
df0.columns = columns 
df0["State/UT"] = df0["State/UT"].astype(str)
df0["State/UT"] = df0["State/UT"].str[3:].str.strip()
print(df0.shape)
df0.reset_index(drop=True, inplace=True)
df0

(38, 9)

,State/UT,Over_Alcoholism_Male,Over_Alcoholism_Female,Over_Alcoholism_Total,Over_Alcoholism_Percent_share,By Drowning - Male,By Drowning - Female,By Drowning - Total,By Drowning - Percent Share
0,ANDHRA PRADESH,129,4,133,0.9,594,378,972,6.4
1,ARUNACHAL PRADESH,3,0,3,2.2,8,2,10,7.5
2,ASSAM,7,1,8,0.3,148,59,207,7.6
3,BIHAR,17,1,18,2.3,56,32,88,11.1
4,CHHATTISGARH,95,21,116,1.7,109,53,162,2.4
5,GOA,0,0,0,0.0,24,9,33,11.3
6,GUJARAT,3,0,3,0.0,274,164,438,6.9
7,HARYANA,35,0,35,1.1,180,41,221,6.8
8,HIMACHAL PRADESH,5,0,5,1.1,5,1,6,1.4
9,JAMMU & KASHMIR,8,0,8,2.8,3,2,5,1.7
10,JHARKHAND,20,2,22,1.8,97,32,129,10.6
11,KARNATAKA,193,9,202,1.6,632,368,1000,7.9
12,KERALA,38,0,38,0.5,297,233,530,6.3
13,MADHYA PRADESH,120,10,130,1.4,271,272,543,5.9
14,MAHARASHTRA,133,1,134,0.8,833,649,1482,9.3
15,MANIPUR,0,0,0,0.0,0,0,0,0.0
16,MEGHALAYA,0,0,0,0.0,12,0,12,7.8
17,MIZORAM,0,0,0,0.0,0,0,0,0.0
18,NAGALAND,0,0,0,0.0,0,0,0,0.0
19,ODISHA,17,5,22,0.4,109,43,152,2.9
20,PUNJAB,7,0,7,0.7,10,3,13,1.3
21,RAJASTHAN,52,2,54,1.2,206,127,333,7.7
22,SIKKIM,4,0,4,2.2,18,6,24,13.0
23,TAMIL NADU,247,3,250,1.6,661,276,937,5.9
24,TRIPURA,2,0,2,0.3,9,2,11,1.6
25,UTTAR PRADESH,84,5,89,1.8,180,81,261,5.4
26,UTTARAKHAND,5,0,5,1.6,24,11,35,11.0
27,WEST BENGAL,81,1,82,0.5,222,205,427,2.6
28,AL (STATES),1305,65,1370,1.0,4982,3049,8031,6.0
29,A & N ISLANDS,0,0,0,0.0,1,0,1,0.7
30,CHANDIGARH,0,0,0,0.0,4,2,6,5.7
31,D & N HAVELI,0,0,0,0.0,0,0,0,0.0
32,DAMAN & DIU,0,0,0,0.0,0,1,1,3.0
33,DELHI (UT),19,0,19,1.1,16,0,16,0.9
34,LAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
35,PUDUCHERRY,0,0,0,0.0,4,1,5,0.9
36,AL (UTs),19,0,19,0.7,25,4,29,1.1
37,AL (ALL INDIA),1324,65,1389,1.0,5007,3053,8060,5.9

In [10]:
df1

,0,1,2,3,4,5,6,7,8
0,,,TABLE – 2.14 (Continued….),,,,,,
1,Sl.,,Fire/Self Immolation,,,,Fire–Arms,,
2,State/UT,,,,,,,,
3,No.,Male,Female,Total,%share,Male,Female,Total,%share
4,(1) \n(2),(11),(12),(13),(14),(15),(16),(17),(18)
5,STATES:,,,,,,,,
6,1 \nANDHRA PRADESH,720,877,1597,10.6,10,14,24,0.2
7,2 \nARUNACHAL PRADESH,2,0,2,1.5,2,0,2,1.5
8,3 \nASSAM,24,65,89,3.3,5,0,5,0.2
9,4 \nBIHAR,14,72,86,10.8,3,3,6,0.8
10,5 \nCHHATTISGARH,182,464,646,9.6,14,3,17,0.3
11,6 \nGOA,4,11,15,5.1,1,2,3,1.0
12,7 \nGUJARAT,317,540,857,13.4,18,4,22,0.3
13,8 \nHARYANA,105,133,238,7.3,12,1,13,0.4
14,9 \nHIMACHAL PRADESH,3,11,14,3.2,2,0,2,0.5
15,10 \nJAMMU & KASHMIR,8,4,12,4.2,11,1,12,4.2
16,11 \nJHARKHAND,53,39,92,7.6,2,1,3,0.2
17,12 KARNATAKA,295,432,727,5.8,23,19,42,0.3
18,13 KERALA,115,311,426,5.1,2,1,3,0.0
19,14 MADHYA PRADESH,371,944,1315,14.2,34,6,40,0.4
20,15 MAHARASHTRA,729,1112,1841,11.5,7,0,7,0.0
21,16 MANIPUR,0,0,0,0.0,4,0,4,12.1
22,17 MEGHALAYA,4,5,9,5.9,4,0,4,2.6
23,18 MIZORAM,0,0,0,0.0,2,0,2,2.2
24,19 NAGALAND,0,0,0,0.0,3,0,3,9.1
25,20 ODISHA,16,50,66,1.3,4,0,4,0.1
26,21 PUNJAB,7,20,27,2.8,8,1,9,0.9
27,22 RAJASTHAN,123,169,292,6.7,5,1,6,0.1
28,23 SIKKIM,0,0,0,0.0,0,0,0,0.0
29,24 TAMIL NADU,868,1397,2265,14.2,2,1,3,0.0
30,25 TRIPURA,2,5,7,1.0,0,0,0,0.0
31,26 UTTAR PRADESH,156,523,679,14.0,64,20,84,1.7
32,27 UTTARAKHAND,6,8,14,4.4,5,0,5,1.6
33,28 WEST BENGAL,72,296,368,2.2,53,1,54,0.3
34,TOTAL (STATES),4196,7488,11684,8.8,300,79,379,0.3
35,UNION TERRITORIES:,,,,,,,,
36,29 A & N ISLANDS,1,4,5,3.7,1,0,1,0.7
37,30 CHANDIGARH,5,8,13,12.4,1,0,1,1.0
38,31 D & N HAVELI,4,3,7,11.1,0,0,0,0.0
39,32 DAMAN & DIU,1,1,2,6.1,0,0,0,0.0
40,33 DELHI (UT),57,46,103,6.0,17,4,21,1.2
41,34 \nLAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
42,35 PUDUCHERRY,15,37,52,9.3,0,0,0,0.0
43,TOTAL (UTs),83,99,182,7.0,19,4,23,0.9
44,TOTAL (ALL INDIA),4279,7587,11866,8.8,319,83,402,0.3

In [11]:
# Dropping first few rows
df1.drop([0,1,2,3,4,5,35], inplace=True)

# Dropping first col
df1.drop([0], axis=1, inplace=True)
columns = ["By Fire/Self Immolation - Male", "By Fire/Self Immolation - Female", 
            "By Fire/Self Immolation - Total", "By Fire/Self Immolation - Percent Share",
            "By Firearms - Male", "By Firearms - Female", 
            "By Firearms - Total", "By Firearms - Percent Share"]
df1.columns = columns 
print(df1.shape)
df1.reset_index(drop=True, inplace=True)
df1

(38, 8)

,By Fire/Self Immolation - Male,By Fire/Self Immolation - Female,By Fire/Self Immolation - Total,By Fire/Self Immolation - Percent Share,By Firearms - Male,By Firearms - Female,By Firearms - Total,By Firearms - Percent Share
0,720,877,1597,10.6,10,14,24,0.2
1,2,0,2,1.5,2,0,2,1.5
2,24,65,89,3.3,5,0,5,0.2
3,14,72,86,10.8,3,3,6,0.8
4,182,464,646,9.6,14,3,17,0.3
5,4,11,15,5.1,1,2,3,1.0
6,317,540,857,13.4,18,4,22,0.3
7,105,133,238,7.3,12,1,13,0.4
8,3,11,14,3.2,2,0,2,0.5
9,8,4,12,4.2,11,1,12,4.2
10,53,39,92,7.6,2,1,3,0.2
11,295,432,727,5.8,23,19,42,0.3
12,115,311,426,5.1,2,1,3,0.0
13,371,944,1315,14.2,34,6,40,0.4
14,729,1112,1841,11.5,7,0,7,0.0
15,0,0,0,0.0,4,0,4,12.1
16,4,5,9,5.9,4,0,4,2.6
17,0,0,0,0.0,2,0,2,2.2
18,0,0,0,0.0,3,0,3,9.1
19,16,50,66,1.3,4,0,4,0.1
20,7,20,27,2.8,8,1,9,0.9
21,123,169,292,6.7,5,1,6,0.1
22,0,0,0,0.0,0,0,0,0.0
23,868,1397,2265,14.2,2,1,3,0.0
24,2,5,7,1.0,0,0,0,0.0
25,156,523,679,14.0,64,20,84,1.7
26,6,8,14,4.4,5,0,5,1.6
27,72,296,368,2.2,53,1,54,0.3
28,4196,7488,11684,8.8,300,79,379,0.3
29,1,4,5,3.7,1,0,1,0.7
30,5,8,13,12.4,1,0,1,1.0
31,4,3,7,11.1,0,0,0,0.0
32,1,1,2,6.1,0,0,0,0.0
33,57,46,103,6.0,17,4,21,1.2
34,0,0,0,0.0,0,0,0,0.0
35,15,37,52,9.3,0,0,0,0.0
36,83,99,182,7.0,19,4,23,0.9
37,4279,7587,11866,8.8,319,83,402,0.3

In [12]:
df2

,0,1,2,3,4,5,6,7,8
0,State/UT,,,,,,,,
1,No.,Male,Female,Total,%share,Male,Female,Total,%share
2,(1) \n(2),(19),(20),(21),(22),(23),(24),(25),(26)
3,STATES:,,,,,,,,
4,1 \nANDHRA PRADESH,2196,974,3170,21.0,2824,1143,3967,26.3
5,2 \nARUNACHAL PRADESH,65,31,96,71.6,0,0,0,0.0
6,3 \nASSAM,1054,444,1498,55.0,23,44,67,2.5
7,4 \nBIHAR,67,44,111,14.0,70,48,118,14.8
8,5 \nCHHATTISGARH,1824,620,2444,36.2,880,484,1364,20.2
9,6 \nGOA,125,44,169,57.7,3,5,8,2.7
10,7 \nGUJARAT,1130,585,1715,26.9,1067,588,1655,25.9
11,8 \nHARYANA,403,136,539,16.6,205,82,287,8.8
12,9 \nHIMACHAL PRADESH,92,45,137,30.9,59,39,98,22.1
13,10 \nJAMMU & KASHMIR,27,15,42,14.6,10,19,29,10.1
14,11 \nJHARKHAND,304,138,442,36.5,77,50,127,10.5
15,12 KARNATAKA,2602,1117,3719,29.5,677,316,993,7.9
16,13 KERALA,3794,1045,4839,57.4,849,231,1080,12.8
17,14 MADHYA PRADESH,2187,1178,3365,36.3,1156,906,2062,22.3
18,15 MAHARASHTRA,4694,1546,6240,39.1,3360,1226,4586,28.8
19,16 MANIPUR,12,7,19,57.6,0,5,5,15.2
20,17 MEGHALAYA,66,32,98,64.1,1,0,1,0.7
21,18 MIZORAM,74,13,87,96.7,0,0,0,0.0
22,19 NAGALAND,21,8,29,87.9,0,0,0,0.0
23,20 ODISHA,705,540,1245,23.8,516,511,1027,19.6
24,21 PUNJAB,173,55,228,23.6,105,48,153,15.8
25,22 RAJASTHAN,933,370,1303,30.0,318,169,487,11.2
26,23 SIKKIM,85,59,144,78.3,0,0,0,0.0
27,24 TAMIL NADU,2483,1462,3945,24.7,1017,439,1456,9.1
28,25 TRIPURA,227,148,375,53.3,77,43,120,17.1
29,26 UTTAR PRADESH,951,749,1700,35.1,156,173,329,6.8
30,27 UTTARAKHAND,49,43,92,29.0,38,32,70,22.1
31,28 WEST BENGAL,3106,2351,5457,33.1,960,668,1628,9.9
32,TOTAL (STATES),29449,13799,43248,32.5,14448,7269,21717,16.3
33,UNION TERRITORIES:,,,,,,,,
34,29 A & N ISLANDS,79,28,107,78.7,4,4,8,5.9
35,30 CHANDIGARH,29,25,54,51.4,0,0,0,0.0
36,31 D & N HAVELI,32,15,47,74.6,0,1,1,1.6
37,32 DAMAN & DIU,12,10,22,66.7,1,0,1,3.0
38,33 DELHI (UT),756,377,1133,66.0,19,9,28,1.6
39,34 \nLAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
40,35 PUDUCHERRY,310,94,404,72.5,40,9,49,8.8
41,TOTAL (UTs),1218,549,1767,67.7,64,23,87,3.3
42,TOTAL (ALL INDIA),30667,14348,45015,33.2,14512,7292,21804,16.1

In [13]:
# Dropping first few rows
df2.drop([0,1,2,3,33], inplace=True)


# Dropping first col
df2.drop([0], axis=1, inplace=True)
columns = ["By Hanging - Male", "By Hanging - Female", 
            "By Hanging - Total", "By Hanging - Percent Share",
            "By Poison (By Consuming Insecticides) - Male", "By Poison (By Consuming Insecticides) - Female", 
            "By Poison (By Consuming Insecticides) - Total", "By Poison (By Consuming Insecticides) - Percent Share"]
df2.columns = columns 
print(df2.shape)
df2.reset_index(drop=True, inplace=True)
df2

(38, 8)

,By Hanging - Male,By Hanging - Female,By Hanging - Total,By Hanging - Percent Share,By Poison (By Consuming Insecticides) - Male,By Poison (By Consuming Insecticides) - Female,By Poison (By Consuming Insecticides) - Total,By Poison (By Consuming Insecticides) - Percent Share
0,2196,974,3170,21.0,2824,1143,3967,26.3
1,65,31,96,71.6,0,0,0,0.0
2,1054,444,1498,55.0,23,44,67,2.5
3,67,44,111,14.0,70,48,118,14.8
4,1824,620,2444,36.2,880,484,1364,20.2
5,125,44,169,57.7,3,5,8,2.7
6,1130,585,1715,26.9,1067,588,1655,25.9
7,403,136,539,16.6,205,82,287,8.8
8,92,45,137,30.9,59,39,98,22.1
9,27,15,42,14.6,10,19,29,10.1
10,304,138,442,36.5,77,50,127,10.5
11,2602,1117,3719,29.5,677,316,993,7.9
12,3794,1045,4839,57.4,849,231,1080,12.8
13,2187,1178,3365,36.3,1156,906,2062,22.3
14,4694,1546,6240,39.1,3360,1226,4586,28.8
15,12,7,19,57.6,0,5,5,15.2
16,66,32,98,64.1,1,0,1,0.7
17,74,13,87,96.7,0,0,0,0.0
18,21,8,29,87.9,0,0,0,0.0
19,705,540,1245,23.8,516,511,1027,19.6
20,173,55,228,23.6,105,48,153,15.8
21,933,370,1303,30.0,318,169,487,11.2
22,85,59,144,78.3,0,0,0,0.0
23,2483,1462,3945,24.7,1017,439,1456,9.1
24,227,148,375,53.3,77,43,120,17.1
25,951,749,1700,35.1,156,173,329,6.8
26,49,43,92,29.0,38,32,70,22.1
27,3106,2351,5457,33.1,960,668,1628,9.9
28,29449,13799,43248,32.5,14448,7269,21717,16.3
29,79,28,107,78.7,4,4,8,5.9
30,29,25,54,51.4,0,0,0,0.0
31,32,15,47,74.6,0,1,1,1.6
32,12,10,22,66.7,1,0,1,3.0
33,756,377,1133,66.0,19,9,28,1.6
34,0,0,0,0.0,0,0,0,0.0
35,310,94,404,72.5,40,9,49,8.8
36,1218,549,1767,67.7,64,23,87,3.3
37,30667,14348,45015,33.2,14512,7292,21804,16.1

In [14]:
df3

,0,1,2,3,4,5,6,7,8,9
0,,State/UT,,,,,,,,
1,No.,,Male,Female,Total,%share,Male,Female,Total,%share
2,(1),(2),(27),(28),(29),(30),(31),(32),(33),(34)
3,,STATES:,,,,,,,,
4,1,ANDHRA PRADESH,2062,1044,3106,20.6,35,5,40,0.3
5,2,ARUNACHAL PRADESH,4,1,5,3.7,1,0,1,0.7
6,3,ASSAM,313,198,511,18.7,4,3,7,0.3
7,4,BIHAR,60,38,98,12.3,2,1,3,0.4
8,5,CHHATTISGARH,283,182,465,6.9,3,0,3,0.0
9,6,GOA,21,12,33,11.3,0,0,0,0.0
10,7,GUJARAT,597,373,970,15.2,38,3,41,0.6
11,8,HARYANA,386,216,602,18.6,2,0,2,0.1
12,9,HIMACHAL PRADESH,63,49,112,25.3,0,0,0,0.0
13,10,JAMMU & KASHMIR,21,57,78,27.2,0,0,0,0.0
14,11,JHARKHAND,24,39,63,5.2,0,3,3,0.2
15,12,KARNATAKA,1986,937,2923,23.2,57,46,103,0.8
16,13,KERALA,815,289,1104,13.1,19,9,28,0.3
17,14,MADHYA PRADESH,542,414,956,10.3,21,9,30,0.3
18,15,MAHARASHTRA,882,440,1322,8.3,25,10,35,0.2
19,16,MANIPUR,1,3,4,12.1,0,0,0,0.0
20,17,MEGHALAYA,0,0,0,0.0,0,0,0,0.0
21,18,MIZORAM,0,0,0,0.0,1,0,1,1.1
22,19,NAGALAND,0,0,0,0.0,0,0,0,0.0
23,20,ODISHA,452,392,844,16.1,36,10,46,0.9
24,21,PUNJAB,44,31,75,7.8,10,1,11,1.1
25,22,RAJASTHAN,314,152,466,10.7,8,1,9,0.2
26,23,SIKKIM,0,10,10,5.4,0,0,0,0.0
27,24,TAMIL NADU,2376,1049,3425,21.5,3,34,37,0.2
28,25,TRIPURA,79,46,125,17.8,0,0,0,0.0
29,26,UTTAR PRADESH,335,261,596,12.3,39,9,48,1.0
30,27,UTTARAKHAND,23,12,35,11.0,5,0,5,1.6
31,28 WEST BENGAL,,1801,1525,3326,20.2,9,5,14,0.1
32,,TOTAL (STATES),13484,7770,21254,16.0,318,149,467,0.4
33,,UNION TERRITORIES:,,,,,,,,
34,29,A & N ISLANDS,3,3,6,4.4,0,0,0,0.0
35,30,CHANDIGARH,10,12,22,21.0,2,1,3,2.9
36,31,D & N HAVELI,3,3,6,9.5,0,0,0,0.0
37,32,DAMAN & DIU,3,2,5,15.2,0,0,0,0.0
38,33,DELHI (UT),163,64,227,13.2,11,0,11,0.6
39,34,LAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
40,35,PUDUCHERRY,23,18,41,7.4,0,0,0,0.0
41,,TOTAL (UTs),205,102,307,11.8,13,1,14,0.5
42,,TOTAL (ALL INDIA),13689,7872,21561,15.9,331,150,481,0.4

In [15]:
# Dropping first few rows
df3.drop([0,1,2,3,33], inplace=True)

# Dropping first col
df3.drop([0,1], axis=1, inplace=True)
columns = ["By Poison (By Consuming other Poison) - Male", "By Poison (By Consuming other Poison) - Female", 
            "By Poison (By Consuming other Poison) - Total", "By Poison (By Consuming other Poison) - Percent Share",
            "By Self Inflicting Injury - Male", "By Self Inflicting Injury - Female", 
            "By Self Inflicting Injury - Total", "By Self Inflicting Injury - Percent Share"]
df3.columns = columns 
print(df3.shape)
df3.reset_index(drop=True, inplace=True)
df3

(38, 8)

,By Poison (By Consuming other Poison) - Male,By Poison (By Consuming other Poison) - Female,By Poison (By Consuming other Poison) - Total,By Poison (By Consuming other Poison) - Percent Share,By Self Inflicting Injury - Male,By Self Inflicting Injury - Female,By Self Inflicting Injury - Total,By Self Inflicting Injury - Percent Share
0,2062,1044,3106,20.6,35,5,40,0.3
1,4,1,5,3.7,1,0,1,0.7
2,313,198,511,18.7,4,3,7,0.3
3,60,38,98,12.3,2,1,3,0.4
4,283,182,465,6.9,3,0,3,0.0
5,21,12,33,11.3,0,0,0,0.0
6,597,373,970,15.2,38,3,41,0.6
7,386,216,602,18.6,2,0,2,0.1
8,63,49,112,25.3,0,0,0,0.0
9,21,57,78,27.2,0,0,0,0.0
10,24,39,63,5.2,0,3,3,0.2
11,1986,937,2923,23.2,57,46,103,0.8
12,815,289,1104,13.1,19,9,28,0.3
13,542,414,956,10.3,21,9,30,0.3
14,882,440,1322,8.3,25,10,35,0.2
15,1,3,4,12.1,0,0,0,0.0
16,0,0,0,0.0,0,0,0,0.0
17,0,0,0,0.0,1,0,1,1.1
18,0,0,0,0.0,0,0,0,0.0
19,452,392,844,16.1,36,10,46,0.9
20,44,31,75,7.8,10,1,11,1.1
21,314,152,466,10.7,8,1,9,0.2
22,0,10,10,5.4,0,0,0,0.0
23,2376,1049,3425,21.5,3,34,37,0.2
24,79,46,125,17.8,0,0,0,0.0
25,335,261,596,12.3,39,9,48,1.0
26,23,12,35,11.0,5,0,5,1.6
27,1801,1525,3326,20.2,9,5,14,0.1
28,13484,7770,21254,16.0,318,149,467,0.4
29,3,3,6,4.4,0,0,0,0.0
30,10,12,22,21.0,2,1,3,2.9
31,3,3,6,9.5,0,0,0,0.0
32,3,2,5,15.2,0,0,0,0.0
33,163,64,227,13.2,11,0,11,0.6
34,0,0,0,0.0,0,0,0,0.0
35,23,18,41,7.4,0,0,0,0.0
36,205,102,307,11.8,13,1,14,0.5
37,13689,7872,21561,15.9,331,150,481,0.4

In [16]:
df4

,0,1,2,3,4,5,6,7,8,9
0,Sl.,,,Jumping (from Building),,,,Jumping (from Other Sites),,
1,,State/UT,,,,,,,,
2,No.,,Male,Female,Total,%share,Male,Female,Total,%share
3,(1),(2),(35),(36),(37),(38),(39),(40),(41),(42)
4,,STATES:,,,,,,,,
5,1,ANDHRA PRADESH,31,28,59,0.4,28,8,36,0.2
6,2,ARUNACHAL PRADESH,1,0,1,0.7,3,1,4,3.0
7,3,ASSAM,16,2,18,0.7,0,1,1,0.0
8,4,BIHAR,4,3,7,0.9,4,1,5,0.6
9,5,CHHATTISGARH,1,0,1,0.0,1,0,1,0.0
10,6,GOA,0,0,0,0.0,2,1,3,1.0
11,7,GUJARAT,37,23,60,0.9,64,30,94,1.5
12,8,HARYANA,10,2,12,0.4,12,2,14,0.4
13,9,HIMACHAL PRADESH,0,0,0,0.0,20,21,41,9.3
14,10,JAMMU & KASHMIR,5,2,7,2.4,6,3,9,3.1
15,11,JHARKHAND,3,0,3,0.2,0,0,0,0.0
16,12,KARNATAKA,96,82,178,1.4,22,7,29,0.2
17,13,KERALA,16,3,19,0.2,1,6,7,0.1
18,14,MADHYA PRADESH,16,11,27,0.3,5,1,6,0.1
19,15,MAHARASHTRA,48,24,72,0.5,10,13,23,0.1
20,16,MANIPUR,0,0,0,0.0,0,0,0,0.0
21,17,MEGHALAYA,1,0,1,0.7,0,0,0,0.0
22,18,MIZORAM,0,0,0,0.0,0,0,0,0.0
23,19,NAGALAND,1,0,1,3.0,0,0,0,0.0
24,20,ODISHA,22,2,24,0.5,41,13,54,1.0
25,21,PUNJAB,0,1,1,0.1,2,0,2,0.2
26,22,RAJASTHAN,21,7,28,0.6,84,47,131,3.0
27,23,SIKKIM,0,0,0,0.0,0,2,2,1.1
28,24,TAMIL NADU,16,6,22,0.1,27,5,32,0.2
29,25,TRIPURA,0,0,0,0.0,0,0,0,0.0
30,26,UTTAR PRADESH,26,18,44,0.9,0,0,0,0.0
31,27,UTTARAKHAND,1,0,1,0.3,0,1,1,0.3
32,28 WEST BENGAL,,59,9,68,0.4,49,71,120,0.7
33,,TOTAL (STATES),431,223,654,0.5,381,234,615,0.5
34,,UNION TERRITORIES:,,,,,,,,
35,29,A & N ISLANDS,0,0,0,0.0,0,0,0,0.0
36,30,CHANDIGARH,3,0,3,2.9,0,0,0,0.0
37,31,D & N HAVELI,0,0,0,0.0,1,0,1,1.6
38,32,DAMAN & DIU,0,0,0,0.0,0,0,0,0.0
39,33,DELHI (UT),18,10,28,1.6,2,0,2,0.1
40,34,LAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
41,35,PUDUCHERRY,0,1,1,0.2,0,0,0,0.0
42,,TOTAL (UTs),21,11,32,1.2,3,0,3,0.1
43,,TOTAL (ALL INDIA),452,234,686,0.5,384,234,618,0.5

In [17]:
# Dropping first few rows
df4.drop([0,1,2,3,4,34], inplace=True)


# Dropping first col
df4.drop([0,1], axis=1, inplace=True)
columns = ["Jumping (from Building) - Male", "Jumping (from Building) - Female", 
            "Jumping (from Building) - Total", "Jumping (from Building) - Percent Share",
            "Jumping (from Other Sites) - Male", "Jumping (from Other Sites) - Female", 
            "Jumping (from Other Sites) - Total", "Jumping (from Other Sites) - Percent Share"]
df4.columns = columns 
df4.reset_index(drop=True, inplace=True)
print(df4.shape)
df4

(38, 8)

,Jumping (from Building) - Male,Jumping (from Building) - Female,Jumping (from Building) - Total,Jumping (from Building) - Percent Share,Jumping (from Other Sites) - Male,Jumping (from Other Sites) - Female,Jumping (from Other Sites) - Total,Jumping (from Other Sites) - Percent Share
0,31,28,59,0.4,28,8,36,0.2
1,1,0,1,0.7,3,1,4,3.0
2,16,2,18,0.7,0,1,1,0.0
3,4,3,7,0.9,4,1,5,0.6
4,1,0,1,0.0,1,0,1,0.0
5,0,0,0,0.0,2,1,3,1.0
6,37,23,60,0.9,64,30,94,1.5
7,10,2,12,0.4,12,2,14,0.4
8,0,0,0,0.0,20,21,41,9.3
9,5,2,7,2.4,6,3,9,3.1
10,3,0,3,0.2,0,0,0,0.0
11,96,82,178,1.4,22,7,29,0.2
12,16,3,19,0.2,1,6,7,0.1
13,16,11,27,0.3,5,1,6,0.1
14,48,24,72,0.5,10,13,23,0.1
15,0,0,0,0.0,0,0,0,0.0
16,1,0,1,0.7,0,0,0,0.0
17,0,0,0,0.0,0,0,0,0.0
18,1,0,1,3.0,0,0,0,0.0
19,22,2,24,0.5,41,13,54,1.0
20,0,1,1,0.1,2,0,2,0.2
21,21,7,28,0.6,84,47,131,3.0
22,0,0,0,0.0,0,2,2,1.1
23,16,6,22,0.1,27,5,32,0.2
24,0,0,0,0.0,0,0,0,0.0
25,26,18,44,0.9,0,0,0,0.0
26,1,0,1,0.3,0,1,1,0.3
27,59,9,68,0.4,49,71,120,0.7
28,431,223,654,0.5,381,234,615,0.5
29,0,0,0,0.0,0,0,0,0.0
30,3,0,3,2.9,0,0,0,0.0
31,0,0,0,0.0,1,0,1,1.6
32,0,0,0,0.0,0,0,0,0.0
33,18,10,28,1.6,2,0,2,0.1
34,0,0,0,0.0,0,0,0,0.0
35,0,1,1,0.2,0,0,0,0.0
36,21,11,32,1.2,3,0,3,0.1
37,452,234,686,0.5,384,234,618,0.5

In [18]:
df5

,0,1,2,3,4,5,6,7,8,9
0,Sl.,,,Jumping off Moving Vehicles/Trains,,,,Machine,,
1,,State/UT,,,,,,,,
2,No.,,Male,Female,Total,%share,Male,Female,Total,%share
3,(1),(2),(43),(44),(45),(46),(47),(48),(49),(50)
4,,STATES:,,,,,,,,
5,1,ANDHRA PRADESH,2,0,2,0.0,3,0,3,0.0
6,2,ARUNACHAL PRADESH,0,0,0,0.0,0,0,0,0.0
7,3,ASSAM,20,8,28,1.0,1,0,1,0.0
8,4,BIHAR,1,0,1,0.1,0,0,0,0.0
9,5,CHHATTISGARH,39,4,43,0.6,1,1,2,0.0
10,6,GOA,1,0,1,0.3,0,0,0,0.0
11,7,GUJARAT,28,6,34,0.5,0,2,2,0.0
12,8,HARYANA,0,0,0,0.0,8,1,9,0.3
13,9,HIMACHAL PRADESH,0,0,0,0.0,0,0,0,0.0
14,10,JAMMU & KASHMIR,3,1,4,1.4,8,0,8,2.8
15,11,JHARKHAND,14,8,22,1.8,5,0,5,0.4
16,12,KARNATAKA,4,0,4,0.0,22,0,22,0.2
17,13,KERALA,37,9,46,0.5,0,0,0,0.0
18,14,MADHYA PRADESH,37,9,46,0.5,10,1,11,0.1
19,15,MAHARASHTRA,35,11,46,0.3,1,0,1,0.0
20,16,MANIPUR,0,0,0,0.0,0,0,0,0.0
21,17,MEGHALAYA,0,0,0,0.0,0,0,0,0.0
22,18,MIZORAM,0,0,0,0.0,0,0,0,0.0
23,19,NAGALAND,0,0,0,0.0,0,0,0,0.0
24,20,ODISHA,7,5,12,0.2,0,0,0,0.0
25,21,PUNJAB,0,0,0,0.0,6,0,6,0.6
26,22,RAJASTHAN,58,22,80,1.8,18,0,18,0.4
27,23,SIKKIM,0,0,0,0.0,0,0,0,0.0
28,24,TAMIL NADU,106,51,157,1.0,4,18,22,0.1
29,25,TRIPURA,0,0,0,0.0,0,0,0,0.0
30,26,UTTAR PRADESH,58,14,72,1.5,12,1,13,0.3
31,27,UTTARAKHAND,1,0,1,0.3,0,0,0,0.0
32,28 WEST BENGAL,,27,20,47,0.3,9,0,9,0.1
33,,TOTAL (STATES),478,168,646,0.5,108,24,132,0.1
34,,UNION TERRITORIES:,,,,,,,,
35,29,A & N ISLANDS,0,0,0,0.0,0,0,0,0.0
36,30,CHANDIGARH,0,0,0,0.0,0,0,0,0.0
37,31,D & N HAVELI,0,0,0,0.0,0,0,0,0.0
38,32,DAMAN & DIU,0,0,0,0.0,0,0,0,0.0
39,33,DELHI (UT),0,0,0,0.0,0,0,0,0.0
40,34,LAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
41,35,PUDUCHERRY,3,1,4,0.7,0,0,0,0.0
42,,TOTAL (UTs),3,1,4,0.2,0,0,0,0.0
43,,TOTAL (ALL INDIA),481,169,650,0.5,108,24,132,0.1

In [19]:
# Dropping first few rows
df5.drop([0,1,2,3,4,34], inplace=True)


# Dropping first col
df5.drop([0,1], axis=1, inplace=True)
columns = ["Jumping (by Jumping off Moving Trains/Vehicles) - Male", "Jumping (by Jumping off Moving Trains/Vehicles) - Female", 
            "Jumping (by Jumping off Moving Trains/Vehicles) - Total", "Jumping (by Jumping off Moving Trains/Vehicles) - Percent Share",
            "Machine - Male", "Machine - Female", 
            "Machine - Total", "Machine - Percent Share"]
df5.columns = columns 
df5.reset_index(drop=True, inplace=True)
print(df5.shape)
df5

(38, 8)

,Jumping (by Jumping off Moving Trains/Vehicles) - Male,Jumping (by Jumping off Moving Trains/Vehicles) - Female,Jumping (by Jumping off Moving Trains/Vehicles) - Total,Jumping (by Jumping off Moving Trains/Vehicles) - Percent Share,Machine - Male,Machine - Female,Machine - Total,Machine - Percent Share
0,2,0,2,0.0,3,0,3,0.0
1,0,0,0,0.0,0,0,0,0.0
2,20,8,28,1.0,1,0,1,0.0
3,1,0,1,0.1,0,0,0,0.0
4,39,4,43,0.6,1,1,2,0.0
5,1,0,1,0.3,0,0,0,0.0
6,28,6,34,0.5,0,2,2,0.0
7,0,0,0,0.0,8,1,9,0.3
8,0,0,0,0.0,0,0,0,0.0
9,3,1,4,1.4,8,0,8,2.8
10,14,8,22,1.8,5,0,5,0.4
11,4,0,4,0.0,22,0,22,0.2
12,37,9,46,0.5,0,0,0,0.0
13,37,9,46,0.5,10,1,11,0.1
14,35,11,46,0.3,1,0,1,0.0
15,0,0,0,0.0,0,0,0,0.0
16,0,0,0,0.0,0,0,0,0.0
17,0,0,0,0.0,0,0,0,0.0
18,0,0,0,0.0,0,0,0,0.0
19,7,5,12,0.2,0,0,0,0.0
20,0,0,0,0.0,6,0,6,0.6
21,58,22,80,1.8,18,0,18,0.4
22,0,0,0,0.0,0,0,0,0.0
23,106,51,157,1.0,4,18,22,0.1
24,0,0,0,0.0,0,0,0,0.0
25,58,14,72,1.5,12,1,13,0.3
26,1,0,1,0.3,0,0,0,0.0
27,27,20,47,0.3,9,0,9,0.1
28,478,168,646,0.5,108,24,132,0.1
29,0,0,0,0.0,0,0,0,0.0
30,0,0,0,0.0,0,0,0,0.0
31,0,0,0,0.0,0,0,0,0.0
32,0,0,0,0.0,0,0,0,0.0
33,0,0,0,0.0,0,0,0,0.0
34,0,0,0,0.0,0,0,0,0.0
35,3,1,4,0.7,0,0,0,0.0
36,3,1,4,0.2,0,0,0,0.0
37,481,169,650,0.5,108,24,132,0.1

In [20]:
df6

,0,1,2,3,4,5,6,7,8,9
0,Sl.,,,Overdose of Sleeping Pills,,,,Touching Electric Wires,,
1,,State/UT,,,,,,,,
2,No.,,Male,Female,Total,%share,Male,Female,Total,%share
3,(1),(2),(51),(52),(53),(54),(55),(56),(57),(58)
4,,STATES:,,,,,,,,
5,1,ANDHRA PRADESH,78,67,145,1.0,19,0,19,0.1
6,2,ARUNACHAL PRADESH,0,0,0,0.0,5,0,5,3.7
7,3,ASSAM,11,2,13,0.5,26,8,34,1.2
8,4,BIHAR,1,0,1,0.1,12,3,15,1.9
9,5,CHHATTISGARH,1,0,1,0.0,43,4,47,0.7
10,6,GOA,2,2,4,1.4,0,0,0,0.0
11,7,GUJARAT,8,22,30,0.5,12,0,12,0.2
12,8,HARYANA,7,4,11,0.3,53,1,54,1.7
13,9,HIMACHAL PRADESH,0,0,0,0.0,3,0,3,0.7
14,10,JAMMU & KASHMIR,3,0,3,1.0,5,4,9,3.1
15,11,JHARKHAND,10,4,14,1.2,0,0,0,0.0
16,12,KARNATAKA,14,5,19,0.2,35,27,62,0.5
17,13,KERALA,24,14,38,0.5,2,1,3,0.0
18,14,MADHYA PRADESH,18,5,23,0.2,70,18,88,1.0
19,15,MAHARASHTRA,6,8,14,0.1,2,1,3,0.0
20,16,MANIPUR,0,0,0,0.0,0,0,0,0.0
21,17,MEGHALAYA,0,0,0,0.0,0,0,0,0.0
22,18,MIZORAM,0,0,0,0.0,0,0,0,0.0
23,19,NAGALAND,0,0,0,0.0,0,0,0,0.0
24,20,ODISHA,4,5,9,0.2,28,8,36,0.7
25,21,PUNJAB,6,0,6,0.6,0,1,1,0.1
26,22,RAJASTHAN,18,6,24,0.6,66,14,80,1.8
27,23,SIKKIM,0,0,0,0.0,0,0,0,0.0
28,24,TAMIL NADU,29,30,59,0.4,70,13,83,0.5
29,25,TRIPURA,0,0,0,0.0,0,0,0,0.0
30,26,UTTAR PRADESH,31,23,54,1.1,59,8,67,1.4
31,27,UTTARAKHAND,0,0,0,0.0,5,1,6,1.9
32,28 WEST BENGAL,,44,52,96,0.6,76,29,105,0.6
33,,TOTAL (STATES),315,249,564,0.4,591,141,732,0.6
34,,UNION TERRITORIES:,,,,,,,,
35,29,A & N ISLANDS,0,0,0,0.0,0,0,0,0.0
36,30,CHANDIGARH,0,0,0,0.0,0,0,0,0.0
37,31,D & N HAVELI,0,0,0,0.0,0,0,0,0.0
38,32,DAMAN & DIU,0,0,0,0.0,0,0,0,0.0
39,33,DELHI (UT),4,0,4,0.2,8,1,9,0.5
40,34,LAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
41,35,PUDUCHERRY,0,0,0,0.0,1,0,1,0.2
42,,TOTAL (UTs),4,0,4,0.2,9,1,10,0.4
43,,TOTAL (ALL INDIA),319,249,568,0.4,600,142,742,0.5

In [21]:
# Dropping first few rows
df6.drop([0,1,2,3,4,34], inplace=True)



# Dropping first col
df6.drop([0,1], axis=1, inplace=True)
columns = ["By Consuming Sleeping Pills - Male", "By Consuming Sleeping Pills - Female", 
            "By Consuming Sleeping Pills - Total", "By Consuming Sleeping Pills - Percent Share",
            "By Touching Electric Wire - Male", "By Touching Electric Wire - Female", 
            "By Touching Electric Wire - Total", "By Touching Electric Wire - Percent Share"]
df6.columns = columns 
df6.reset_index(drop=True, inplace=True)
print(df6.shape)
df6

(38, 8)

,By Consuming Sleeping Pills - Male,By Consuming Sleeping Pills - Female,By Consuming Sleeping Pills - Total,By Consuming Sleeping Pills - Percent Share,By Touching Electric Wire - Male,By Touching Electric Wire - Female,By Touching Electric Wire - Total,By Touching Electric Wire - Percent Share
0,78,67,145,1.0,19,0,19,0.1
1,0,0,0,0.0,5,0,5,3.7
2,11,2,13,0.5,26,8,34,1.2
3,1,0,1,0.1,12,3,15,1.9
4,1,0,1,0.0,43,4,47,0.7
5,2,2,4,1.4,0,0,0,0.0
6,8,22,30,0.5,12,0,12,0.2
7,7,4,11,0.3,53,1,54,1.7
8,0,0,0,0.0,3,0,3,0.7
9,3,0,3,1.0,5,4,9,3.1
10,10,4,14,1.2,0,0,0,0.0
11,14,5,19,0.2,35,27,62,0.5
12,24,14,38,0.5,2,1,3,0.0
13,18,5,23,0.2,70,18,88,1.0
14,6,8,14,0.1,2,1,3,0.0
15,0,0,0,0.0,0,0,0,0.0
16,0,0,0,0.0,0,0,0,0.0
17,0,0,0,0.0,0,0,0,0.0
18,0,0,0,0.0,0,0,0,0.0
19,4,5,9,0.2,28,8,36,0.7
20,6,0,6,0.6,0,1,1,0.1
21,18,6,24,0.6,66,14,80,1.8
22,0,0,0,0.0,0,0,0,0.0
23,29,30,59,0.4,70,13,83,0.5
24,0,0,0,0.0,0,0,0,0.0
25,31,23,54,1.1,59,8,67,1.4
26,0,0,0,0.0,5,1,6,1.9
27,44,52,96,0.6,76,29,105,0.6
28,315,249,564,0.4,591,141,732,0.6
29,0,0,0,0.0,0,0,0,0.0
30,0,0,0,0.0,0,0,0,0.0
31,0,0,0,0.0,0,0,0,0.0
32,0,0,0,0.0,0,0,0,0.0
33,4,0,4,0.2,8,1,9,0.5
34,0,0,0,0.0,0,0,0,0.0
35,0,0,0,0.0,1,0,1,0.2
36,4,0,4,0.2,9,1,10,0.4
37,319,249,568,0.4,600,142,742,0.5

In [22]:
df7

,0,1,2,3,4,5,6,7,8,9
0,,,,TABLE – 2.14 (Continued….),,,,,,
1,Sl.,,,Coming under Running Vehicles/Trains,,,,Other Means,,
2,,State/UT,,,,,,,,
3,No.,,Male,Female,Total,%share,Male,Female,Total,%share
4,(1),(2),(59),(60),(61),(62),(63),(64),(65),(66)
5,,STATES:,,,,,,,,
6,1,ANDHRA PRADESH,648,161,809,5.4,741,254,995,6.6
7,2,ARUNACHAL PRADESH,0,0,0,0.0,5,0,5,3.7
8,3,ASSAM,52,21,73,2.7,122,44,166,6.1
9,4,BIHAR,4,3,7,0.9,131,100,231,29.1
10,5,CHHATTISGARH,120,45,165,2.4,931,348,1279,18.9
11,6,GOA,4,0,4,1.4,8,12,20,6.8
12,7,GUJARAT,232,59,291,4.6,87,71,158,2.5
13,8,HARYANA,17,2,19,0.6,1029,160,1189,36.6
14,9,HIMACHAL PRADESH,0,0,0,0.0,17,8,25,5.6
15,10,JAMMU & KASHMIR,1,0,1,0.3,25,35,60,20.9
16,11,JHARKHAND,5,4,9,0.7,211,67,278,22.9
17,12,KARNATAKA,377,77,454,3.6,1437,708,2145,17.0
18,13,KERALA,176,52,228,2.7,27,15,42,0.5
19,14,MADHYA PRADESH,116,55,171,1.8,266,180,446,4.8
20,15,MAHARASHTRA,116,17,133,0.8,6,2,8,0.1
21,16,MANIPUR,0,0,0,0.0,1,0,1,3.0
22,17,MEGHALAYA,0,0,0,0.0,23,5,28,18.3
23,18,MIZORAM,0,0,0,0.0,0,0,0,0.0
24,19,NAGALAND,0,0,0,0.0,0,0,0,0.0
25,20,ODISHA,168,50,218,4.2,935,547,1482,28.3
26,21,PUNJAB,374,49,423,43.8,3,1,4,0.4
27,22,RAJASTHAN,100,16,116,2.7,692,229,921,21.2
28,23,SIKKIM,0,0,0,0.0,0,0,0,0.0
29,24,TAMIL NADU,680,102,782,4.9,1693,795,2488,15.6
30,25,TRIPURA,0,0,0,0.0,51,12,63,9.0
31,26,UTTAR PRADESH,175,67,242,5.0,387,178,565,11.7
32,27,UTTARAKHAND,14,1,15,4.7,16,16,32,10.1
33,28 WEST BENGAL,,455,229,684,4.1,2601,1406,4007,24.3
34,,TOTAL (STATES),3834,1010,4844,3.6,11445,5193,16638,12.5
35,,UNION TERRITORIES:,,,,,,,,
36,29,A & N ISLANDS,0,0,0,0.0,5,3,8,5.9
37,30,CHANDIGARH,0,0,0,0.0,3,0,3,2.9
38,31,D & N HAVELI,0,0,0,0.0,1,0,1,1.6
39,32,DAMAN & DIU,0,0,0,0.0,1,1,2,6.1
40,33,DELHI (UT),2,0,2,0.1,76,37,113,6.6
41,34,LAKSHADWEEP,0,0,0,0.0,0,0,0,0.0
42,35,PUDUCHERRY,0,0,0,0.0,0,0,0,0.0
43,,TOTAL (UTs),2,0,2,0.1,86,41,127,4.9
44,,TOTAL (ALL INDIA),3836,1010,4846,3.6,11531,5234,16765,12.4

In [23]:
# Dropping first few rows
df7.drop([0,1,2,3,4,5,35], inplace=True)




# Dropping first col
df7.drop([0,1], axis=1, inplace=True)
columns = ["By Coming under Running Vehicles/Trains - Male", "By Coming under Running Vehicles/Trains - Female", 
            "By Coming under Running Vehicles/Trains - Total", "By Coming under Running Vehicles/Trains - Percent Share",
            "By Other Means - Male", "By Other Means - Female", 
            "By Other Means - Total", "By Other Means - Percent Share"]
df7.columns = columns 
df7.reset_index(drop=True, inplace=True)
print(df7.shape)
df7

(38, 8)

,By Coming under Running Vehicles/Trains - Male,By Coming under Running Vehicles/Trains - Female,By Coming under Running Vehicles/Trains - Total,By Coming under Running Vehicles/Trains - Percent Share,By Other Means - Male,By Other Means - Female,By Other Means - Total,By Other Means - Percent Share
0,648,161,809,5.4,741,254,995,6.6
1,0,0,0,0.0,5,0,5,3.7
2,52,21,73,2.7,122,44,166,6.1
3,4,3,7,0.9,131,100,231,29.1
4,120,45,165,2.4,931,348,1279,18.9
5,4,0,4,1.4,8,12,20,6.8
6,232,59,291,4.6,87,71,158,2.5
7,17,2,19,0.6,1029,160,1189,36.6
8,0,0,0,0.0,17,8,25,5.6
9,1,0,1,0.3,25,35,60,20.9
10,5,4,9,0.7,211,67,278,22.9
11,377,77,454,3.6,1437,708,2145,17.0
12,176,52,228,2.7,27,15,42,0.5
13,116,55,171,1.8,266,180,446,4.8
14,116,17,133,0.8,6,2,8,0.1
15,0,0,0,0.0,1,0,1,3.0
16,0,0,0,0.0,23,5,28,18.3
17,0,0,0,0.0,0,0,0,0.0
18,0,0,0,0.0,0,0,0,0.0
19,168,50,218,4.2,935,547,1482,28.3
20,374,49,423,43.8,3,1,4,0.4
21,100,16,116,2.7,692,229,921,21.2
22,0,0,0,0.0,0,0,0,0.0
23,680,102,782,4.9,1693,795,2488,15.6
24,0,0,0,0.0,51,12,63,9.0
25,175,67,242,5.0,387,178,565,11.7
26,14,1,15,4.7,16,16,32,10.1
27,455,229,684,4.1,2601,1406,4007,24.3
28,3834,1010,4844,3.6,11445,5193,16638,12.5
29,0,0,0,0.0,5,3,8,5.9
30,0,0,0,0.0,3,0,3,2.9
31,0,0,0,0.0,1,0,1,1.6
32,0,0,0,0.0,1,1,2,6.1
33,2,0,2,0.1,76,37,113,6.6
34,0,0,0,0.0,0,0,0,0.0
35,0,0,0,0.0,0,0,0,0.0
36,2,0,2,0.1,86,41,127,4.9
37,3836,1010,4846,3.6,11531,5234,16765,12.4

In [24]:
df8

,0,1,2,3,4,5,6
0,,,,TABLE – 2.14 (Continued…),,,
1,Sl.,,,,Total,,
2,,State/UT,,,,,
3,No.,,Male,Female,,Total,%share
4,(1),(2),(67),(68),,(69),(70)
5,,STATES:,,,,,
6,1,ANDHRA PRADESH,10120,4957,,15077,100
7,2,ARUNACHAL PRADESH,99,35,,134,100
8,3,ASSAM,1826,900,,2726,100
9,4,BIHAR,446,349,,795,100
10,5,CHHATTISGARH,4527,2229,,6756,100
11,6,GOA,195,98,,293,100
12,7,GUJARAT,3912,2470,,6382,100
13,8,HARYANA,2464,781,,3245,100
14,9,HIMACHAL PRADESH,269,174,,443,100
15,10,JAMMU & KASHMIR,144,143,,287,100
16,11,JHARKHAND,825,387,,1212,100
17,12,KARNATAKA,8472,4150,,12622,100
18,13,KERALA,6212,2219,,8431,100
19,14,MADHYA PRADESH,5240,4019,,9259,100
20,15,MAHARASHTRA,10887,5060,,15947,100
21,16,MANIPUR,18,15,,33,100
22,17,MEGHALAYA,111,42,,153,100
23,18,MIZORAM,77,13,,90,100
24,19,NAGALAND,25,8,,33,100
25,20,ODISHA,3060,2181,,5241,100
26,21,PUNJAB,755,211,,966,100
27,22,RAJASTHAN,3016,1332,,4348,100
28,23,SIKKIM,107,77,,184,100
29,24,TAMIL NADU,10282,5681,,15963,100
30,25,TRIPURA,447,256,,703,100
31,26,UTTAR PRADESH,2713,2130,,4843,100
32,27,UTTARAKHAND,192,125,,317,100
33,28 WEST BENGAL,,9624,6868,,16492,100
34,,TOTAL (STATES),86065,46910,,132975,100
35,,UNION TERRITORIES:,,,,,
36,29,A & N ISLANDS,94,42,,136,100
37,30,CHANDIGARH,57,48,,105,100
38,31,D & N HAVELI,41,22,,63,100
39,32,DAMAN & DIU,18,15,,33,100
40,33,DELHI (UT),1168,548,,1716,100
41,34,LAKSHADWEEP,0,0,,0,0
42,35,PUDUCHERRY,396,161,,557,100
43,,TOTAL (UTs),1774,836,,2610,100
44,,TOTAL (ALL INDIA),87839,47746,,135585,100

In [25]:
# Dropping first few rows
df8.drop([0,1,2,3,4,5,35], inplace=True)

# Dropping first col
df8.drop([0,1,4], axis=1, inplace=True)
columns = ["Total - Male", "Total - Female", 
            "Total - Total", "Total - Percent Share"]
df8.columns = columns 
df8.reset_index(drop=True, inplace=True)
print(df8.shape)
df8

(38, 4)

   Total - Male Total - Female Total - Total Total - Percent Share
0         10120           4957         15077                   100
1            99             35           134                   100
2          1826            900          2726                   100
3           446            349           795                   100
4          4527           2229          6756                   100
5           195             98           293                   100
6          3912           2470          6382                   100
7          2464            781          3245                   100
8           269            174           443                   100
9           144            143           287                   100
10          825            387          1212                   100
11         8472           4150         12622                   100
12         6212           2219          8431                   100
13         5240           4019          9259                   100
14        10887           5060         15947                   100
15           18             15            33                   100
16          111             42           153                   100
17           77             13            90                   100
18           25              8            33                   100
19         3060           2181          5241                   100
20          755            211           966                   100
21         3016           1332          4348                   100
22          107             77           184                   100
23        10282           5681         15963                   100
24          447            256           703                   100
25         2713           2130          4843                   100
26          192            125           317                   100
27         9624           6868         16492                   100
28        86065          46910        132975                   100
29           94             42           136                   100
30           57             48           105                   100
31           41             22            63                   100
32           18             15            33                   100
33         1168            548          1716                   100
34            0              0             0                     0
35          396            161           557                   100
36         1774            836          2610                   100
37        87839          47746        135585                   100

In [26]:
fin_df = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8], axis=1)
fin_df.to_csv("../dataset/suicide modes/2011 modes.csv", index=False)